<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consistency Check By - Resort</title>
</head>
<body>
<h1>Consistency Check By Field (Generated {{ "now"|date("d/m/Y-H:i:s") }}) </h1>
<h2>Resorts only show if there issues</h2>
<table border="1" align="left">
    <tr>
        <th>Field</th>
        <th>Resort</th>
        {# <th>Check</th>  #}
        <th>Issue</th>
        {# <th>Current Value (Truncated)</th>  #}
    </tr>

    {# This is a nested table #}

    {% set rowstarted = false %}
    {% for field, arrResorts in data %}
        {# Need to calculate total number of issues #}
        {% set issue_count = 0 %}
        {% for resort in arrResorts %}
            {% set issue_count = issue_count + resort.issues | length %}
        {% endfor %}
        <tr>
        <th rowspan="{{ issue_count }}" align="left">{{  field }}</th>
        {% set rowstarted = true %}
        {% for resort in arrResorts %}
            {% if not rowstarted %}
                {% set rowstarted = true %}
                <tr>
            {% endif %}
            <th rowspan="{{ resort.issues | length }}" align="left"><a href="{{ url }}/wp-admin/post.php?post={{ resort.post_id }}&action=edit">{{ resort.name }}</a> (<a href="{{ url }}/resort/{{ resort.post_name }}">view</a>)</th>
            {% for issue in resort.issues %}
                {% if not rowstarted %}
                    {% set rowstarted = true %}
                    <tr>
                {% endif %}
                <td>{{ issue }}</td>
                </tr>
                {% set rowstarted = false %}
            {% endfor %}
        {%  endfor %}
    {% endfor %}



</table>
</body>
</html>