<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consistency Check By - Field</title>
</head>
<body>
<h1>Consistency Check By Resort</h1>
<h2>Resorts only show if there are issues</h2>
<table style="width:100%" border="1" align="left">
    <tr>
        <th>Field</th>
        <th>Resort</th>
        <th>Check</th>
        <th>Issue</th>
        <th>Current Value (Truncated)</th>
    </tr>

    {# This is a nested table #}
    {#
    <tr>
        <th rowspan="3">Zermatt</th>
        <th rowspan="2">Field 1</th>
        <td>Issue 1 Value</td>
        <td>Issue 1 Name</td>
    </tr>
    <tr>
        <td>Issue 2 Value</td>
        <td>Issue 2 Name</td>
    </tr>
    <tr>
        <th rowspan="1"> Field 2</th>
        <td>Issue 3 Value</td>
        <td>Issue 3 Name</td>
    </tr>
    #}

    {% set rowstarted = false %}
    {% for resort in resorts %}
        {# Need to calculate total number of issues #}
        {% set issue_count = 0 %}
        {% for field in resort.fields %}
            {% set issue_count = issue_count + field.issues | length %}
        {% endfor %}
        <tr>
        {% set rowstarted = true %}
        <th rowspan="{{ issue_count }}" align="left">{{ resort.name }}</th>
        {% for field in resort.fields %}
            {% if not rowstarted %}
                {% set rowstarted = true %}
                <tr>
            {% endif %}
            <th rowspan="{{ field.issues | length }}" align="left">{{ field.name }}</th>
            {% for issue in field.issues %}
                {% if not rowstarted %}
                    {% set rowstarted = true %}
                    <tr>
                {% endif %}
                <td>{{ issue.check }}</td>
                <td>{{ issue.issue }}</td>
                <td>{{ issue.currentValue }}</td>
                </tr>
                {% set rowstarted = false %}
            {% endfor %}
        {%  endfor %}
    {% endfor %}



</table>
</body>
</html>