<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1, h2, h4 {text-align: center;}
        p {text-align: center;}
        table, th, td {text-align: center;}
        table, td, tr {border: 1px solid black; margin-left: auto; margin-right: auto;}
    </style>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
<h1>{{ name }} (Generated {{ "now"|date("d/m/Y-H:i:s") }})</h1>

<h4> Key -> {{ meta_key }}</h4>

<h4> "{{  data.content }} "</h4>

<br>
<br>

<table>
    <tr>
        <th>Resort - Sorted by Creation Time (earliest first)</th>
    </tr>

    {% for post_id, resort in data.resorts %}
        <tr>
            <td><a href="{{ url }}/wp-admin/post.php?post={{ post_id }}&action=edit">{{ resort.resort }}</a> (<a href="https://newsite.skiclub.co.uk/resort/{{ resort.post_name }}">view</a>)</td>
        </tr>
    {% endfor %}



</table>
</body>
</html>