<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consistency Check By - Resort</title>
</head>
<body>
<h1>Report - Fields With Duplicate Content (Generated {{ "now"|date("d/m/Y-H:i:s") }}) </h1>

<table border="1" align="left">
    <tr>
        <th>Field</th>
        <th>Resort Count</th>
        {# <th>Check</th>  #}
        <th>Content</th>
        {# <th>Current Value (Truncated)</th>  #}
    </tr>

    {# This is a nested table #}
    {#
    <tr>
        <th rowspan="3">Zermatt</th>
        <th rowspan="2">Field 1</th>
        <td>Issue 1 Value</td>
        <td>Issue 1 Name</td>
    </tr>
    <tr>
        <td>Issue 2 Value</td>
        <td>Issue 2 Name</td>
    </tr>
    <tr>
        <th rowspan="1"> Field 2</th>
        <td>Issue 3 Value</td>
        <td>Issue 3 Name</td>
    </tr>
    #}

    {% for field, arrContent in data %}

        <tr>
        {% set rowstart = false %}
        <th rowspan="{{ arrContent.resorts | length }}" align="left">{{  field }}</th>

        {% set rowstarted = false %}

        {% for resort in arrResorts %}
            {% if rowstarted %}
                <tr>
                {% set rowstarted = true %}
            {% endif %}
            <td> arrContent.resorts | length </td>
            <td> arrContent.content </td>
            </tr>
        {%  endfor %}

    {% endfor %}



</table>
</body>
</html>