<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consistency Check By - Resort</title>
</head>
<body>
<h1>Report - Dupe Contents  By Field (Generated {{ "now"|date("d/m/Y-H:i:s") }}) </h1>

<table border="1" align="left">
    <tr>
        <th>Field</th>
        <th>Count</th>
        <th>Content</th>
    </tr>

    {# This is a nested table #}

    {% set rowstarted = false %}
    {% for field, arrContent in data %}
        {% set firstrow = true %}
        <tr>
        <th rowspan="{{ arrContent | length }}" align="left">{{  field }}</th>

        {% if not firstrow %}
            <tr>
        {% endif %}
        {% for content in arrContent %}
            <td><a href="{{ content.filename }}"> {{ content.resorts | length }}</a></td>
            <td>{{ content.content }}</td>
            </tr>
            {% set firstrow = false %}
        {% endfor %}
    {% endfor %}



</table>
</body>
</html>