<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
<h1>{{ name }} (Generated {{ "now"|date("d/m/Y-H:i:s") }})</h1>

<center>
<table border="1" align="left">
    <tr>
        <th>Resort</th>
        <th>Facebook Group</th>
        <th>Ski Club App</th>
    </tr>



    {% for resort in resorts %}
        <tr>
            <td><a href="{{ url }}/wp-admin/post.php?post={{ resort.post_id }}&action=edit">{{ resort.name }}</a> (<a href="{{ url }}/resort/{{ resort.post_name }}">view</a>)</td>
            <td><a href="{{ resort.fbgroup }}">{{ resort.fbgroup }}</a></td>
            <td><a href="{{ resort.skiclubapp }}">{{ resort.skiclubapp }}</a></td>
        </tr>
    {% endfor %}



</table>
</center>
</body>
</html>