<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} - Lower & Upper Forecast</title>
</head>
<body>
<h1><a href="{{ url }}/wp-admin/post.php?post={{ post_id }}&action=edit">{{ name }}</a> (<a
            href="{{ url }}/resort/{{ post_name }}">view</a>) - Lower & Upper Forecast (Generated {{ "now"|date("d/m/Y-H:i:s") }})</h1>

<center>
    {% set header = false %}
    <table border="1" align="left">

        {% for key1, forecast in data.forecast %}
            {% if header == false %}
                {% set header = true %}
                <tr>
                    {% for key, value in forecast %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            {% endif %}


            <tr>
                {% for key, value in forecast %}
                    {# If the value ends in URL then treat as an image #}
                    {% if key|slice(-3) == 'URL' %}
                        <td>
                            <img src="{{ value }}" alt="{{ key }}" width="30" height="30">
                        </td>
                    {% else %}
                    <td>
                        {{ value }}
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>

        {% endfor %}

    </table>
</center>
</body>
</html>