<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkiClub Website Reports</title>
</head>
<body>
<h1>SkiClub Website Reports (Generated {{ "now"|date("d/m/Y-H:i:s") }})</h1>
<br><br>
{{ data|length }} reports found.
<br><br>

{% for report in data %}
    <li><a href="{{ report.url }}">{{ report.name }}</a> </li>

{% endfor %}

</body>

</html>