<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} (Generated {{ "now"|date("d/m/Y-H:i:s") }})</title>
</head>
<body>
<h1><a href="{{ url }}/wp-admin/post.php?post={{ post_id }}&action=edit">{{ name }}</a> (<a href="https://newsite.skiclub.co.uk/resort/{{ post_name }}">view</a>) - Resort Ratings (Generated {{ "now"|date("d/m/Y-H:i:s") }})</h1>

<center>
<table border="1" align="left">
    <tr>
        <th>Rating</th>
        <th>Value</th>
    </tr>

    {% for rating, value in data %}
        <tr>
            <td>{{ rating }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
</table>
</center>
</body>
</html>