<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        table, th, td {text-align: center;}
        table, td, tr {border: 1px solid black; margin-left: auto; margin-right: auto;}
    </style>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
<h1>{{ name }} (Generated {{ "now"|date("d/m/Y-H:i:s") }})</h1>

<center>

    <table border="1" align="left">

        {% for resort, arrSectionData in resorts %}
            {% if resort == "00_Totals" %}
            <tr>
                <th>Resort</th>
                {% for section, ignore in arrSectionData %}
                    <th>{{ section }}</th>
                {% endfor %}
            </tr>

            <tr>
                <td>
                    Totals (
                    {% set rowcount = 0 %}
                    {% for visibility, ignore in arrSectionData | first %}
                        {{ visibility }}
                        {%  if rowcount < (arrSectionData | first | length) - 1 %}
                            /
                        {%  endif %}
                        {% set rowcount = rowcount + 1 %}
                    {% endfor %}
                    )
                </td>
                {% for section, arrVisibilityData in arrSectionData %}
                    <td>
                        {% set rowcount = 0 %}
                        {% for visibility, vizData in arrVisibilityData %}
                            {% if vizData | length == 0 %}
                                0
                            {% else %}
                                <a href="{{ vizData.show_filename }}">{{ (vizData | length) - 1  }}</a>
                            {% endif %}
                            {%  if rowcount < (arrSectionData | first | length) - 1 %}
                                /
                            {%  endif %}
                            {% set rowcount = rowcount + 1 %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            {% else %}
                <tr>
                    <td>
                        <a href="{{ url }}/wp-admin/post.php?post={{ arrSectionData.post_id }}&action=edit">{{ resort }}</a> (<a
                                href="https://newsite.skiclub.co.uk/resort/{{ arrSectionData.post_name }}">view</a>) (<a
                                href="{{ arrSectionData.resort_report }}">detail</a>)
                    </td>
                    {% for section, status in arrSectionData.sections %}
                        <td>
                            {# if status = hide then a cross, if status = all|show a tick #}
                            {% if (status == 'hide') %}
                                ❌
                            {% elseif ((status == 'all') or (status == 'show')) %}
                                ✅
                            {% elseif (status == 'logged') %}
                                M
                            {% elseif (status == 'non-logged') %}
                                NON
                            {% else %}
                                {{ status }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

    </table>
</center>
</body>
</html>