<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1, h2 {text-align: center;}
        p {text-align: center;}
        table, th, td {text-align: center;}
        table, td, tr {border: 1px solid black; margin-left: auto; margin-right: auto;}
    </style>
    <meta charset="UTF-8">
    <title>{{ name }} - Section Usage</title>
</head>
<body>
<h1><a href="{{ url }}/wp-admin/post.php?post={{ data.post_id }}&action=edit">{{ name }}</a> (<a href="https://newsite.skiclub.co.uk/resort/{{ data.post_name }}">view</a>) - Section Usage (Generated {{ "now"|date("d/m/Y-H:i:s") }})</h1>

<h2> {{ data | length }} Entries</h2>
<center>
<table border="1" align="left">
    <tr>
        <th>Section</th>
        <th>Usage</th>
    </tr>

        {% for section, status in data.sections %}
            <tr>
            <td>{{ section }}</td>
            <td>
                {# if status = hide then a cross, if status = all|show a tick #}
                {% if (status == 'hide') %}
                    ❌
                {% elseif ((status == 'all') or (status == 'show')) %}
                    ✅
                {% elseif (status == 'logged') %}
                    M
                {% elseif (status == 'non-logged') %}
                    NON
                {% else %}
                    {{ status }}
                {% endif %}
            </td>
            </tr>
        {% endfor %}


</table>
</center>
</body>
</html>