<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
<h1>{{ name }}</h1>

<center>
    {% set header = false %}
    <table border="1" align="left">

        {% for resort, section_data in data %}
            {% if header == false %}
                {% set header = true %}
                <tr>
                    <th>Resort</th>
                    {% for key, value in section_data.ratings %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            {% endif %}


            <tr>
                <td>
                    <a href="{{ url }}/wp-admin/post.php?post={{ section_data.post_id }}&action=edit">{{ resort }}</a> (<a
                            href="https://newsite.skiclub.co.uk/resort/{{ section_data.post_name }}">view</a>) (<a
                            href="{{ section_data.resort_report }}">detail</a>)
                </td>
                {% for key, value in section_data.ratings %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>

        {% endfor %}

    </table>
</center>
</body>
</html>