<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1, h2 {text-align: center;}
        p {text-align: center;}
        table, th, td {text-align: center;}
        table, td, tr {border: 1px solid black; margin-left: auto; margin-right: auto;}
    </style>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
<h1>{{ name }} (Generated {{ "now"|date("d/m/Y-H:i:s") }})</h1>

<h2> {{  data | length }} Entries</h2>

<table>
    <tr>
        <th>Resort</th>
        <th>Post ID</th>
    </tr>

    {% for resort in data %}
        <tr>
            <td><a href="{{ url }}/wp-admin/post.php?post={{ resort.post_id }}&action=edit">{{ resort.name }}</a> (<a href="https://newsite.skiclub.co.uk/resort/{{ resort.post_name }}">view</a>)</td>
            <td>{{ resort.post_id }}</td>
        </tr>
    {% endfor %}



</table>
</body>
</html>