<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sugati Tours Reports (Generated {{ "now"|date("d/m/Y-H:i:s") }}</title>
</head>
<body>
<h1>Sugati Tours Reports (Generated {{ "now"|date("d/m/Y-H:i:s") }})</h1>

<div style="text-align: center;">
    <h1>Invalid Tour IDs on Website</h1>
</div>
<table border="1" align="center">
    <tr><th>Tour ID</th><th>Tour Name</th></tr>

    {% for tour_id, holiday_data in invalid_tour_ids %}
        <tr><td>{{ tour_id }}</td><td><a href="{{ holiday_data.edit_url }}">{{ holiday_data.holiday_name }}</a> (<a href="{{ holiday_data.view_url }}">View</a>)</td></tr>
    {% endfor %}

</table>


<div style="text-align: center;">
<h1>Tour ID's Used In More Than One Holiday</h1>
</div>
{%  for sugati_tour_id, data in  dupe_tour_ids %}
    <div style="text-align: center;">
    <h2>'{{ sugati_tour_id }}'</h2>
    </div>
    <table  border="1" align="center">
        <tr><th>Holiday</th></tr>
        {% for key, holiday_data in data %}
            <tr><td><a href="{{ holiday_data.edit_url }}">{{ holiday_data.holiday_name }}</a> (<a href="{{ holiday_data.view_url }}">View</a>)</td></tr>
        {% endfor %}
    </table>
{% endfor %}

<div style="text-align: center;">
<h1>Unused Sugati Tours</h1>
</div>
<table border="1" align="center">
    <tr><th>Tour ID</th><th>Tour Name</th></tr>

{% for tour_name, tour_id in unused_tour_ids %}
    <tr><td>{{ tour_name }}</td><td>{{ tour_id }}</td></tr>
{% endfor %}

</table>

<div style="text-align: center;">
    <h1>Holiday / Tour Reference</h1>
</div>
<table border="1" align="center">
    <tr><th>Holiday Name</th><th>Tour</th>
    {% for count in  2..holiday_data.max_sugati_tours %}
        <th> {{ count }}</th>
    {% endfor %}
    </tr>

    {% for holiday_name, data in holiday_data %}
        {% if holiday_name != 'max_sugati_tours' %}
            <tr>
                <td><a href="{{  data.edit_url }}">{{ holiday_name }}</a> (<a href="{{ data.view_url }}">View</a>)</td>
            {% for tour_id,tour_name in data.sugati_tours %}
                <td>{{ tour_name }} ({{ tour_id }})</td>
            {%  endfor %}
            {% for count in data.sugati_tour_count..holiday_data.max_sugati_tours %}
                <td></td>
            {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
</table>


</body>
</html>