<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
<h1>{{ name }} (Generated {{ "now"|date("d/m/Y-H:i:s") }})</h1>

<center>
    {% set header = false %}
    <table border="1" align="left">

        {% for resort, weather_data in data %}
            {% if header == false %}
                {% set header = true %}
                <tr>
                    <th>Resort</th>
                    {% for key, value in weather_data.weather %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            {% endif %}


            <tr>
                <td>
                    {# If resort begins with 'Unknown' then dont show the links #}
                    {% if resort|slice(0, 7) == 'Unknown' %}
                        {{ resort }}
                    {% else %}
                        <a href="{{ url }}/wp-admin/post.php?post={{ weather_data.post_id }}&action=edit">{{ resort }}</a> (<a
                                href="{{ url }}/resort/{{ weather_data.post_name }}">view</a>) (<a
                            href="{{ weather_data.post_name }}_forecast.html">forecast</a>)
                    {% endif %}
                </td>
                {% for key, value in weather_data.weather %}
                    {# If the value ends in URL then treat as an image #}
                    {% if key|slice(-3) == 'URL' %}
                        <td>
                            <img src="{{ value }}" alt="{{ key }}" width="30" height="30">
                        </td>
                    {% else %}
                    <td>
                        {{ value }}
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>

        {% endfor %}

    </table>
</center>
</body>
</html>